@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


code {
  font-size: 20px;
  line-height: 28px;
}


@layer base {
  h1 {
    @apply text-3xl font-bold font-code text-purple-800;
  }
  h2 {
    @apply text-2xl font-bold font-code
  }
  h3 {
    @apply text-xl font-bold font-code
  }
  li {
    @apply text-xl font-code text-gray-500
  }
  p {
    @apply text-xl font-code
  }
  code {
    @apply  text-purple-600
  }
}